<footer>
    <marquee behavior="scroll" direction="left" style="padding-top: 2rem; padding-bottom: 2rem;">
      <b style="color: red;">YOU WON A FREE IPOD!!!</b> |  <b style="color: blue;">CLICK HERE TO CLAIM!!!</b>
    </marquee>
      <div style="text-align: center;">
        <div>
            <a href="https://github.com/theflyoccultist" style="color: rgb(50, 0, 71);">GitHub | </a>
            <a href="https://www.linkedin.com/in/rin-delahaije-9750aa138/" style="color: rgb(94, 3, 94);">LinkedIn</a>
        </div>
        <div>
            <p>&copy; 2025 Rin. All rights reserved.</p>
        </div>
      </div>
</footer>
