<h2>Login</h2>

<% if @error %>
  <div class="error" id="access-form">Login failed.</div>
<% end %>

<form method="post" action="/login" id="access-form">
  <input type="text" 
         id="Username" 
         name="username" 
         value="<%= escape_html(params[:username]) if params[:username] %>" 
         placeholder="Username" />
  <input type="password" id="Password" name="password" placeholder="Password" />

  <button type="submit" class="button-icon">Login</button>
</form>
