<h2>Register</h2>

<form method="post" action="/register" id="access-form">
  <input type="text" id="Username" name="username" placeholder="Username" />
  <input type="password" id="Password" name="password" placeholder="Password" />

  <button type="submit" class="button-icon">Register</button>
</form>
